{% load static %}
<!DOCTYPE html>
<html lang="en">

    <!-- Html Heading -->
    {% include "include/head.html" %}

    <link rel="stylesheet" href="{% static 'input.css' %}">

<body>
    
    <div>

        <div>

            <div class="w-100">

                <div>
                    <img src="/media/{{}}" alt="">
                </div>

            </div>
    
            <div class="d-flex justify-content-center">

                <!-- {% for apply in apply %} -->

                <div class="boxshao">

                    <div>
                        <img style="width: 200px;" src="/media/{{apply.image}}" alt="">
                    </div>

                    <div>
                        <h1 class="underline decoration-sky-50">{{apply.title}}</h1>
                    </div>

                </div>

                <!-- {%endfor%} -->

            </div>
    
        </div>

        
        <!-- <div>

            {% for BackgroundImg in BackgroundImg %}
        
            <div>
                <img src="/media/{{BackgroundImg.picture}}" alt="">
            </div>
    
            {% endfor %}

        </div> -->

    </div>
 
</body>
</html>