{% load static %}
<!DOCTYPE html>
<html lang="en">

    <!-- Html Heading -->
    {% include "include/head.html" %}

    <link rel="stylesheet" href="{% static 'General.css' %}">

<body>
    
    <div>

        <div class="HeadingImg">
            <h1>Welcome</h1>
        </div>

        <div>

            <div>
                <img src="" alt="">
            </div>

            <div class="input-group flex-nowrap">
                <span class="input-group-text" id="addon-wrapping">@</span>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
            </div>

            

        </div>

    </div>

</body>
</html>