/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 700 */

.edu-au-vic-wa-nt-guides {
  font-family: "Edu AU VIC WA NT Guides", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
}  


.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  

  .afacad-flux {
    font-family: "Afacad Flux";
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }


.FontWidth {
    font-size: 13px;
    color: rgb(107, 107, 107);
    margin-bottom: 0;
}

.jost {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.playfair-display {
  font-family: "Playfair Display", serif;
}

.roboto-slab {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.ruge-boogie-regular {
  font-family: "Ruge Boogie", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 75px;
}
