.ShoppingImg {
    overflow: hidden;
    width: 100%;
    height: 75vh;
    background: linear-gradient(45deg, rgb(126, 3, 209), rgb(1, 81, 201));
    border: none;
    box-shadow: 0px 25px 28px #adadad;
    border-radius: 10px;
}

.CardFlex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Navbar {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
}

.inputMain {
    width: 600px;
    height: 7vh;
    filter: invert(100%) sepia(0%) saturate(4%) hue-rotate(315deg) brightness(118%) contrast(70%);
}

.ordered {
    display: flex;
    justify-content: start;
}

.Logo {
    width: 70px;
}

.iconsSize {
    width: 40px;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(253deg) brightness(100%) contrast(103%);
}

.profile {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid white;
}

/* Main Box Start */

.BoxImg {
    width: 290px;
    height: 180px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.Mainbox {
    width: 290px;
    background-color: white;
    box-shadow: 0px 0px 30px rgb(129, 129, 129);
    border-radius: 8px;
}

.flexMoney {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.locateIcon {
    width: 15px;
}

.ForSell {
    color: rgb(205, 99, 0);
    border: 1px solid rgb(254, 188, 126);
    background-color: rgb(254, 188, 126);
    padding: 5px 7px 5px 7px;
    border-radius: 20px;
}

.detail {
    margin: 10px 15px 10px 15px;
}

.location {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bedicons {
    width: 20px;
}

.bedRoom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.beddetail {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}


.profileOfSeller {
    display: grid;
    grid-template-columns: 60px 1fr;
}


.contactInfo {
    display: block;
}

.MainOne {
    padding: 10px 25px 0px 25px;
}

.MainTwo {
    top: 30px;
    left: 0;
    right: 0;
    background-color: black;
}