body {
    padding: 0px 0px 0px 0px;
}
.ShoppingImg {
    overflow: hidden;
    width: 100%;
    background: linear-gradient(45deg, rgb(126, 3, 209), rgb(1, 81, 201));
    border: none;
    box-shadow: 0px 0px 28px #adadad;
    border-radius: 10px;
}

.CardFlex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0px 10px 0px;
}

.Navbar {
    margin: 15px 0px 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputMain {
    width: 600px;
    height: 7vh;
    filter: invert(100%) sepia(0%) saturate(4%) hue-rotate(315deg) brightness(118%) contrast(70%);
}

.ordered {
    display: flex;
    justify-content: start;
}

.Logo {
    width: 70px;
}

.iconsSize {
    width: 40px;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(253deg) brightness(100%) contrast(103%);
}

.profile {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid white;
}

/* Main Box Start */

.BoxImg {
    width: 290px;
    height: 180px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.Mainbox {
    width: 290px;
    background-color: white;
    box-shadow: 0px 0px 30px rgb(129, 129, 129);
    border-radius: 8px;
}

.flexMoney {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.locateIcon {
    width: 15px;
}

.ForSell {
    color: rgb(205, 99, 0);
    border: 1px solid rgb(254, 188, 126);
    background-color: rgb(254, 188, 126);
    padding: 5px 7px 5px 7px;
    border-radius: 20px;
}

.detail {
    margin: 10px 15px 10px 15px;
}

.location {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bedicons {
    width: 20px;
}

.bedRoom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.beddetail {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}


.profileOfSeller {
    display: grid;
    grid-template-columns: 60px 1fr;
}


.contactInfo {
    display: block;
}

.MainOne {
    margin: 20px 20px 0px 20px;
}

.MainTwo {
    background-image: url(https://img.freepik.com/free-photo/exited-black-woman-with-white-shopping-bag-standing-yellow-background-trendy-spring-fashionable-look_273443-19.jpg?t=st=1728844324~exp=1728847924~hmac=46f3bd2a0d21c33c22ef99f1ad0ac86804734387037fe39882f2381f3bfaa639&w=1380);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    right: 0;
    background-color: rgb(149, 248, 255);
    padding: 10px 10px 10px 10px;
    margin-top: 10px;
}

.cont {
    text-align: center;
}

.secImg {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.title {
    padding: 15px 0px 20px 0px;
    color: white;
}

.inputNav {
    width: 700px;
    height: 55px;
    border: 2px solid rgb(197, 197, 197);
    box-sizing: border-box;
    border-radius: 2px;
    outline-color: rgb(0, 77, 231);
    padding-left: 15px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.Special {
    text-align: center;
    padding: 20px 0px 20px 0px;
    color: white;
    border-radius: 10px;
}

.logoImg {
    width: 60px;
    height: 60px;
    margin-left: 20px;
}

.WelcomeP {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 0px 20px 0px;
    background-image: url(https://img.freepik.com/free-photo/background-gradient-lights_23-2149304985.jpg?t=st=1729173716~exp=1729177316~hmac=58214b6f2b44c26c8793cfc39e0ecf84cc3b9682898ba137798a2fdf5add08d1&w=1060);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.WelcomeImg {
    width: 800px;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    margin: 15px 0px 15px 0px;
}

ul {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-right: 40px;
    gap: 30px;
    cursor: pointer;
}

.BookNow {
    border: 1px solid orangered;
    color: orangered;
    padding: 7px 15px 7px 15px;
}
.BookNow:hover {
    transition: 0.5s ease;
    background-color: orangered;
    color: white;
    border-radius: 5px;
}
.lists:hover {
    color: orangered;
    transition: 0.5s;
}


@keyframes appear {
    from {
        opacity: 0;
        transform: translateX(-300px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.blockBox {
    animation: appear 1s linear;
}

@keyframes NavAnima {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.NavbarAnima {
    animation: NavAnima 1s linear;
}

@keyframes CardAnimation {
    from {
        opacity: 0;
        scale: 0;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}


.Location {
    margin: 25px 0px 25px 0px;
    background-image: url(https://img.freepik.com/free-photo/new-york-city_649448-1679.jpg?t=st=1729181202~exp=1729184802~hmac=f238a9b4317c4758de1345387e82531bbf8936e40da8a3b76967bf5e56c342ab&w=1060);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.Mainlocation {
    padding: 10px 10px 10px 30px;
}

.connect {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nameInput {
    width: 300px;
    height: 50px;
}

.inputs {
    display: grid;
    grid-template-columns: 300px 300px;
    column-gap: 20px;
    row-gap: 20px;
}