<div class="MainTwo">

    <div class="playfair-display cont">
        <h1 class="playfair-display title">What You need?</h1>
        <h5 style="color: white; margin-bottom: 30px;">Discover Our New Must-Haves and Let Yourself Shine.</h5>
    </div>

    <div style="display: flex; justify-content: space-evenly; color: white; margin-bottom: 15px;">

            <div class="SecondCardContainer">

                <h3 style="padding: 40px 25px 40px 25px; border-radius: 5px; transition: 0.5s;">Sport</h3>

            </div>

            <div class="SecondCardContainer2">

                <h3 style="padding: 40px 25px 40px 25px; border-radius: 5px; transition: 0.5s;">Music</h3>

            </div>

            <div class="SecondCardContainer3">

                <h3 style="padding: 40px 25px 40px 25px; border-radius: 5px; transition: 0.5s;">Kids</h3>

            </div>

            <div class="SecondCardContainer4">

                <h3 style="padding: 40px 25px 40px 25px; border-radius: 5px; transition: 0.5s;">Electronics</h3>

            </div>

            <div class="SecondCardContainer5">

                <h3 style="padding: 40px 25px 40px 25px; border-radius: 5px; transition: 0.5s;">Clothes</h3>

            </div>

            <div class="SecondCardContainer6">

                <h3 style="padding: 40px 25px 40px 25px; border-radius: 5px; transition: 0.5s;">Pets</h3>

            </div>

            <div class="SecondCardContainer7">

                <h3 style="padding: 40px 25px 40px 25px; border-radius: 5px; transition: 0.5s;">Construction</h3>

            </div>

            <div class="SecondCardContainer8">

                <h3 style="padding: 40px 25px 40px 25px; border-radius: 5px; transition: 0.5s;">Health & Beauty</h3>

            </div>

    </div>

</div>