
<div class="Navbar NavbarAnima">
            
    <div>
        <img class="logoImg" src="/media/logo.png" alt="">
    </div>

    <div>
        
        <div>
            <ul class="playfair-display">
                <li style="color: orangered;">Home</li>
                <li class="lists">About</li>
                <li class="lists">Gallery</li>
                <li class="lists">FAQ</li>
                <li class="lists">Blog</li>
                <li class="lists">Shop</li>
                <li class="lists">Contact</li>
                <li class="BookNow">Book Now</li>
            </ul>
        </div>

    </div>

</div>